{{ ansible_managed | comment }}

# This function will set a variable ps1tmuxlist that is intended to be used as
# part of the PS1 prompt. It will list all existing tmux sessions available to
# the current user, and highlight a name in green if that session is currently
# active in the current tty. If tmux is not available, or there are no tmux
# sessions, ps1tmuxlist will be empty.
tmux_session_list () {
    # If we have no tmux command, set an empty variable.
    if ! command -v tmux 2>&1 >/dev/null; then
        ps1tmuxlist=""
        return
    fi

    # activetmux will be empty or contain the name of the active tmux session
    activetmux="$(tmux list-panes -a -F "#{?#{==:#{pane_tty},$(tty)},#{session_name},}" 2>/dev/null | grep '.')"

    # tmuxlist will contain a space separated list of tmux sessions found
    tmuxlist=""
    for tmuxsession in $(tmux list-sessions -F '#{session_name}' 2>/dev/null); do
        if [ "${activetmux}" = "${tmuxsession}" ]; then
            # This session is active. "setaf 2" is green, "sgr0" is normal/off
            tmuxlist="${tmuxlist} $(tput setaf 2)${tmuxsession}$(tput sgr0)"
        else
            # Inactive, but existing session
            tmuxlist="${tmuxlist} ${tmuxsession}"
        fi
    done

    # Set the ps1tmuxlist variable to be used by PS1 without the very first " "
    # prefix, if there were any tmux sessions. If none were found, set it to
    # empty.
    if [ "${tmuxlist}" != "" ]; then
        ps1tmuxlist="(tmux: ${tmuxlist# }) "
    else
        ps1tmuxlist=""
    fi
}

# History stuff. No dupes or lines starting with space. Save history on each prompt. Etc. -KR 2011-03-04
HISTCONTROL=ignoreboth
PROMPT_COMMAND=' history -a; hasjobs=$(jobs -p); tmux_session_list'
shopt -s histappend
shopt -s cmdhist
HISTSIZE=10000
HISTFILESIZE=10000
HISTTIMEFORMAT="%F_%T "
