{{ ansible_managed | comment }}

{% raw %}
hn=$(hostname -f)
case $TERM in
*xterm*|*rxvt*)
    # Add terminal title
    PS1='\[\e]0;\u@${hn}:\w\007\]'
    ;;
*)
    PS1=
esac

GIT_PS1_SHOWDIRTYSTATE=1
GIT_PS1_SHOWSTASHSTATE=1
GIT_PS1_SHOWUNTRACKEDFILES=1
GIT_PS1_SHOWUPSTREAM="auto"

if [ "$UID" = 0 -o "$EUID" = 0 ]; then
    UH_COLOR1="\e[31;1m"
    UH_COLOR2="\e[0m\e[31m"
else
    UH_COLOR1="\e[36m"
    UH_COLOR2="\e[36;1m"
fi

# Add time
PS1=${PS1}"\[\e[30;1m\]\D{%Y-%m-%d} \A|"
# Add error code (if not 0)
PS1=${PS1}"\$(ec=\$?; if [[ \$ec -ne 0 ]]; then echo \" \[\e[31;1m\]\$ec\"; fi)\[\e[0m\] "
# Add background job count, if any, depends on a variable set in PROMPT_COMMAND
PS1=${PS1}"\${hasjobs:+\[\e[33;1m\]\j\[\e[0m\] }"
# Add tmux session info
PS1=${PS1}"\${ps1tmuxlist}"
# Add user@host with colors depending on the (E)UID check above
PS1=${PS1}"\[${UH_COLOR1}\]\u\[${UH_COLOR2}\]@\[\e[0m${UH_COLOR1}\]${hn}"
# Add the current path
PS1=${PS1}"\[\e[0m\]\[\e[34;1m\][\w]\[\e[0m\] "
# Add git information
PS1=${PS1}"\[\e[33m\]\$(__git_ps1 \"(%s)\")\[\e[0m\]"
# Add the newline and final prompt sign
PS1=${PS1}"\n\\\$ "
{% endraw %}
